*{
    box-sizing:border-box;
}

body{
    margin:0;
    background:#050505;
    color:#00ff66;
    font-family:"Courier New",Consolas,monospace;
    font-size:14px;
}

.dos-window{
    width:95%;
    max-width:1000px;
    margin:20px auto;
    border:1px solid #008f3f;
    background:#080808;
    padding:12px;
    box-shadow:0 0 10px #003300;
}


/* 顶部标题 */

.dos-title{
    height:32px;
    line-height:32px;
    padding-left:10px;
    background:#111;
    border-bottom:1px solid #008f3f;
    color:#00ff66;
    font-weight:bold;
}


/* 启动日志 */

.startup{
    margin:12px 0;
    padding:10px;
    border:1px solid #003f20;
    line-height:1.5;
    background:#020202;
}

.cursor{
    color:#ffff00;
}


/* 标题 */

h1{
    font-size:30px;
    margin:15px 0 5px;
    color:#00ff66;
}

h2{
    font-size:18px;
    color:#ffff00;
    margin:18px 0 8px;
    border-bottom:1px solid #004d26;
    padding-bottom:4px;
}

h3{
    font-size:16px;
    color:#00ffff;
    margin:5px 0;
}

h4{
    color:#aaa;
    margin:5px 0 10px;
}


/* 介绍 */

.intro{
    border:1px solid #003f20;
    padding:12px;
    line-height:1.6;
    margin-bottom:12px;
}


/* 软件列表 */

.products{
    margin-top:10px;
}


.software-box{
    border:1px solid #006633;
    background:#050505;
    padding:12px;
    margin:10px 0;
    line-height:1.5;
}


.software-box:hover{
    border-color:#00ff66;
}


/* 文字 */

p{
    margin:5px 0;
}


/* 链接 */

a{
    color:#00ccff;
    text-decoration:none;
}

a:hover{
    color:#ffff00;
}


/* 联系区域 */

.contact{
    border-top:1px solid #004d26;
    margin-top:15px;
    padding-top:10px;
    line-height:1.8;
}


/* footer */

footer{
    margin-top:15px;
    padding-top:10px;
    border-top:1px solid #004d26;
    text-align:center;
    color:#888;
    line-height:1.8;
}


/* 模拟终端扫描线 */

.dos-window:before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    background:
    repeating-linear-gradient(
        0deg,
        rgba(0,255,80,0.03),
        rgba(0,255,80,0.03) 1px,
        transparent 2px,
        transparent 4px
    );
}


/* 手机 */

@media(max-width:600px){

.dos-window{
    width:98%;
    margin:5px auto;
    padding:8px;
}

h1{
    font-size:24px;
}

body{
    font-size:13px;
}

}
