*{
    box-sizing:border-box;
}

body{
    margin:0;
    background:#111;
    color:#d0d0d0;
    font-family:
    "Courier New",
    "Microsoft YaHei",
    monospace;
    font-size:14px;
}


/* 主窗口 */

.dos-window{

    width:92%;
    max-width:980px;

    margin:25px auto;

    background:#181818;

    border:2px solid #666;

    box-shadow:
    4px 4px 0 #000,
    0 0 20px rgba(0,0,0,.8);

    padding:12px;

}



/* 顶部系统栏 */

.dos-title{

    background:#222;

    color:#eee;

    border:1px solid #555;

    padding:8px 12px;

    font-weight:bold;

    letter-spacing:1px;

}



/* 启动信息 */

.startup{

    margin-top:12px;

    padding:12px;

    background:#0b0b0b;

    border:1px solid #333;

    line-height:1.7;

}


.startup p:first-child{

    color:#aaa;

}


.cursor{
    color:#00cc66;
    font-weight:bold;
    animation:blink 1s infinite;
}


@keyframes blink{

    0%,50%{
        opacity:1;
    }

    51%,100%{
        opacity:0;
    }

}






/* 主标题 */

h1{

    color:#f0f0f0;

    font-size:32px;

    margin:15px 0 5px;

    letter-spacing:2px;

}



h2{

    color:#d4a017;

    font-size:18px;

    border-bottom:

    1px solid #444;

    padding-bottom:6px;

    margin:18px 0 10px;

}



h3{

    color:#7fc8ff;

    margin:5px 0;

}


h4{

    color:#aaa;

    margin:5px 0 10px;

}







/* 介绍 */

.intro{

    background:#151515;

    border-left:

    3px solid #d4a017;

    padding:12px;

    line-height:1.7;

}







/* 软件模块 */


.software-box{

    background:#111;

    border:

    1px solid #444;

    margin:12px 0;

    padding:12px;

    line-height:1.6;

}



.software-box:hover{

    border-color:#d4a017;

}







/* 状态文字 */


.software-box p::first-letter{

    color:#00cc66;

}






/* 链接 */


a{

    color:#66ccff;

    text-decoration:none;

    word-break:break-all;

}


a:hover{

    color:#ffd700;

}






/* 联系 */


.contact{

    margin-top:15px;

    padding:12px;

    background:#151515;

    border:1px solid #333;

    line-height:1.8;

}






/* 页脚 */

footer{

    margin-top:15px;

    padding:10px;

    text-align:center;

    color:#777;

    border-top:

    1px solid #333;

    line-height:1.8;

}






/* CRT轻微扫描 */

.dos-window:after{

    content:"";

    position:fixed;

    inset:0;

    pointer-events:none;

    background:

    repeating-linear-gradient(

    0deg,

    rgba(255,255,255,0.015),

    rgba(255,255,255,0.015) 1px,

    transparent 2px

    );

}






@media(max-width:600px){

.dos-window{

width:96%;

margin:8px auto;

padding:8px;

}


h1{

font-size:25px;

}

body{

font-size:13px;

}

}


.status-online{

    color:#00cc66;

    font-weight:bold;

}



.visitor-count{

    color:#d4a017;

    font-weight:bold;

}

.intro-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-title img {
    width: 100px;
    height: 100px;
}
